<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pessoas.css">
    <title>Cadastro Novos Usuários</title>
</head>
<body>
    <div class="container">
       
        <form class="login-container" method="post">
            <h2> Cadastrar Usuários</h2>
            Nome
            <input name="name" id="name"/>
            <br/>
            Email
            <input name="email" id="email"/>
            <br/>
            Senha
            <input type="password" name="password" id="password"/>
            <br/>
            <label for="tipo-usuario">Selecione sua função</label>
            <select id="tipo-usuario" name="tipo-usuario">
            <option value="voluntario">Voluntário</option>
            <option value="membro">Membro da Defesa Civil</option>
            </select>
            <br/>
            <input class="login-button" type="submit" value="Cadastrar">
            
        </form>
    
    </div>

    <script src=""></script>
</body>
</html>