<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pessoas.css">
    <title>Cadastrar Novo Abrigo</title>
</head>
<body>
    <div class="container">
       
        <form class="login-container" method="post">
            <h2> Cadastrar Abrigo</h2>
            Nome do Abrigo
            <input name="name" id="name"/>
            <br/>
            Endereço
            <input name="adress" id="adress"/>
            <br/>
            Capacidade
            <input type="number" name="capacity" id="capacity"/>
            <br/>
            <input class="login-button" type="submit" value="Cadastrar">
            
        </form>
    
    </div>

    <script src=""></script>
</body>
</html>