<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/defesa.css">
    <title>Membro da Defesa</title>
</head>
    <body>
        <div class="container">
            <form class="login-container">
                <h2>PAINEL DE AÇÕES</h2>
                <button class="login-button" type="button" onclick="location.href='cadastrar_abrigos.html'">Cadastrar abrigos</button>
                <button class="login-button" type="button" onclick="location.href='listar_abrigos.html'">Listar abrigos</button>
                <button class="login-button" type="button" onclick="location.href='cadastrar_pessoas.html'">Cadastrar pessoas</button>
                <button class="login-button" type="button" onclick="location.href='cadastrar_recursos.html'">Cadastrar recursos</button>
                <button class="login-button" type="button" onclick="location.href='cadastrar_crises.html'">Cadastrar crises</button>
                <button class="login-button" type="button" onclick="location.href='link do chat do zap'">Chat</button>
            </form>
        </div>    
    
    </body>
</html>