<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form class="login-container" method="post">
            Email:
            <input name="email" id="email"/>
            <br/>
            Senha:
            <input type="password" name="password" id="password"/>
    
            <input class="login-button" type="submit" value="Enviar">
        </form>
    
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>