<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/infoAbrigos.css">
    <title>Informações Abrigos</title>
</head>
    <body>
        <div class="container">
            <div class="card card-info">
                <h2>Informações do Abrigo</h2>
                <p><strong>Nome:</strong> Abrigo Ilustrativo</p>
                <p><strong>Endereço:</strong> Cristo Rei, São Leopoldo - RS</p>
                <p><strong>Capacidade:</strong> 50 pessoas</p>
            </div>

            <div class="card">
                <h2>Pessoas no Abrigo</h2>
                <ul>
                    <li>João da Silva - <strong>CPF:</strong> 123.456.789-00</li>
                    <li>Maria Oliveira - <strong>CPF:</strong> 987.654.321-00</li>
                    <li>Carlos Souza - <strong>CPF:</strong> 456.789.123-00</li>
                    <li>Ana Pereira - <strong>CPF:</strong> 112.233.445-66</li>
                    <li>José Santos - <strong>CPF:</strong> 334.556.778-99</li>
                    <li>Luana Costa - <strong>CPF:</strong> 445.667.889-00</li>
                    <li>Pedro Silva - <strong>CPF:</strong> 556.778.990-11</li>
                    <li>Fernanda Lima - <strong>CPF:</strong> 667.889.100-22</li>
                    <li>Ricardo Almeida - <strong>CPF:</strong> 778.990.211-33</li>
                    <li>Patrícia Sousa - <strong>CPF:</strong> 889.100.322-44</li>
                </ul>
            </div>
            
    
            <div class="card">
                <h2>Recursos</h2>
                <ul>
                    <li>Água - 20 unidades</li>
                    <li>Comida - 15 unidades</li>
                    <li>Colchões - 10 unidades</li>
                    <li>Roupas - 30 unidades</li>
                    <li>Medicamentos - 50 unidades</li>
                    <li>Lençóis - 25 unidades</li>
                    <li>Calçados - 12 pares</li>
                    <li>Produtos de limpeza - 40 unidades</li>
                    <li>Fraldas - 100 unidades</li>
                </ul>
            </div>
            
        </div>

        <div class="back-button-container">
            <a href="javascript:history.back()" class="back-button">Voltar</a>
        </div>
    </body>        
</html>